body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #333;
  color: white;
  background: #24262b;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.user-icon {
  margin-right: 5px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d7cfdc;
  cursor: pointer;
  transition:
    background-color 0.25s,
    border-color 0.25s;
  width: 30%;
  margin: auto;
  margin-top: 20px;
}

button:hover {
  background-color: #a99eb2;
  border-color: #856f8d;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.userProfile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  margin-top: 22px;
}

.userName {
  margin-right: 15px;
  margin-top: 18px;
}

.logo-image-nav {
  width: 10%;
  border-radius: 50%;
}

.project-name {
  padding: 10px 10px;
  padding-left: 5%;
}
