.pdf-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 18px;
}

.pdf-container iframe {
  /* display: block; */
  width: 100%;
  border: none;
  overflow-y: auto;
  overflow-x: hidden;
  object-fit: fill;
  height: 95%;
}
