.btn-download {
  background-color: #3c009d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 5px;
  width: 30%;
  margin-left: 10px;
}

.download-div {
  display: flex;
  flex-direction: column;
}

.search-section {
  flex: 1;
  flex: 0 0 30%;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  height: 100%;
}

.cv-section {
  flex: 1;
  margin-right: 50px;
}

.entire-cv {
  padding: 0;
  margin: 0;
}

.section-label-search {
  padding-top: 20px;
  font-weight: bold;
}

.section-label-download {
  margin-top: 80px;
  font-weight: bold;
}
