/* PdfUpload.css */


#upload-div{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  width: 80%; 
  max-width: 400px; 
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#upload-pdf {
    margin-bottom: 10px;
    font-weight: bold;
}

/* Input styles */
#upload-file-input {
    display: none; /* Hide the default file input */
}

#upload-file-input{
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
}

/* Button styles */
#upload-button {
    background-color: #3c009d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

#upload-button:hover {
    background-color: #42006C;
}

@media (max-width: 768px) {
    #upload-div {
      width: 90%; /* Adjusted width for smaller screens */
    }
  }