body {
  background-color: #fff;
}
#cv {
  min-height: 29.7cm;
  height: 100%;
  width: 21cm;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid rgb(192, 182, 182);
  background-image: url("/public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  margin-bottom: 50px;
  padding-right: 40px;
}
h1 {
  margin-bottom: 10px;
}

#STE {
  float: left;
  margin-left: 40px;
}
h3 {
  width: 300px;
  float: left;
  display: flex;
}
.first {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cv-paragraph {
  text-align: left;
  font-size: 16px;
}
p,
ul {
  padding-bottom: 30px;
}
ul {
  list-style-type: none;
}

#nameAndRole {
  float: right;
  text-align: right;
  margin-top: 30px;
  margin-right: 40px;
}
#Experience {
  display: flex;
  flex-direction: column;

  margin-left: 70px;
}
i {
  margin-bottom: 10px;
}
#all {
  display: flex;
  margin-top: 40px;
  width: fit-content;
  block-size: fit-content;
}
img {
  width: 170px;
  height: 20px;
  float: left;
  display: flex;
  margin-left: 30px;
}
#when,
#company {
  margin: 0;
  display: contents;
}

#role {
  float: left;
  margin: 0;
  display: flex;
}

#CR {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#description {
  margin-top: 3px;
}
.exp {
  display: flex;
  flex-direction: column;
}

.line {
  height: 1.2px;
  width: 300px;
  margin-bottom: 15px;
  background-color: gray;
  float: left;
}
.textArea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
    background-image: url("/public/background.png");
    background-size: cover;
  }
}

@media print {
  .page-break {
    display: block;
    page-break-before: auto;
  }
}

@page {
  size: auto;
  background-image: url("/public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media print {
  p,
  ul,
  h1,
  h3,
  h4,
  i {
    font-size: 12px;
  }
}
