.search-form {
  margin-top: 40px;
}

.find-cv {
  background-color: #3c009d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  width: 21%;
  margin-left: 10px;
}

.find-cv:hover {
  background-color: #a99eb2;
  border-color: #856f8d;
}
